---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$title-font-family: 'Titan One', cursive;
$code-font-family: 'Inconsolata', monospace;

$spacing-unit:     30px;
$spacing-unit-small:15px;

$text-color:       #FEFEFE;
$background-color: #40668c;
$brand-color:      #FFF1CD;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

*, *:after, *:before {
  box-sizing:border-box;
}

figure {
  padding:0;
  margin:0;
}

blockquote {
  position: relative;
  margin: 0;
  padding: $spacing-unit $spacing-unit * 2;
  text-align: center;

  @include media-query(720px) {
    padding: $spacing-unit / 2 $spacing-unit;
  }
}

blockquote:before, blockquote:after {
  position: absolute;
  width: $spacing-unit;
  height: $spacing-unit;
  font-size: $spacing-unit * 2;
  line-height: 1;
}

blockquote:before {
  top: 0;
  left: 0;
  content: "\201C";
}

blockquote:after {
  bottom: 0;
  right: 0;
  content: "\201D";
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-image:url(../img/background.jpg);
  background-size:cover;
  background-attachment:fixed;
  background-position:center top;
  text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: $spacing-unit;
  margin: 0;

  @include media-query(720px) {
    background-position:center bottom;
    padding:$spacing-unit-small;
    font-size:$small-font-size;
  }
}

.disclaimer-title, h1, h2, h3, h4, h5 {
  font-family: $title-font-family;
}

a {
  color:$brand-color;
  text-decoration:none;
  transition:color 0.25s ease-out;

  &.link,
  .link  {
    border-bottom:1px dotted $brand-color;
  }

  &.link:hover,
  &:hover .link {
    color:lighten($brand-color, 30%);
    border-color:lighten($brand-color, 30%);
    border-bottom-style: solid;
  }

  i {
    text-decoration: none;
  }
}

a.external:after {
  content: "\00a0\00a0\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}


hr {
  border:none;
  height:10px;
  background-image:url(../img/background.jpg);
}

.layout-wrapper {
  width:100%;
  max-width:720px;

  @include media-query(720px) {
    width:auto;
  }
}

.disclaimer  {
  opacity:0.9;
  text-shadow: 1px 1px 1px rgba(black, 0.25);
}

.disclaimer-title {
  font-size: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
}

.disclaimer-goodbye {
  margin-top: $spacing-unit *2;
}

.disclaimer,
.post,
.post-list {
  list-style:none;
  padding:$spacing-unit;
  margin:0;

  @include media-query(720px) {
    padding:$spacing-unit-small;
  }

  *:first-child {
    margin-top:0;

    .post-header,
    .post-link {
      padding-top:0;
    }
  }

  *:last-child {
    margin-bottom:0;

    .post-header,
    .post-link {
      padding-bottom:0;
    }
  }
}

.post-header {
  &:first-child {
    padding-top:0;
  }

  &:last-child {
    padding-top:0;
  }
}

.post-header,
.post-link {
  display:flex;
  flex-direction:row;
  align-items:center;
  padding:$spacing-unit / 2 0;

  @include media-query(720px) {
    padding:$spacing-unit-small / 2 0;
  }

  .post-title {
    flex-grow:1;
    margin:0;
  }

  .post-meta {
    flex-shrink:0;
    margin:0;
    padding-left:$spacing-unit;

    @include media-query(720px) {
      padding-left:$spacing-unit-small;
    }
  }
}
.post-content {
  img, video {
    width:100%;
    height:auto;
  }

  iframe {
    width:100%;
  }
}

.site-header {
  position:relative;
  background-color:rgba(#FEFEFE, 0.8);
  margin-bottom:$spacing-unit;
  text-align:center;

  display:flex;
  flex-direction:row;
  align-items:stretch;

  @include media-query(720px) {
    flex-wrap:wrap;
    margin-bottom:$spacing-unit-small;
  }
}

.site-title {
  display:block;

  @include media-query(720px) {
    //border:1px solid red;
  }
}

.site-picture {
  display:block;
  width:$spacing-unit * 3;
  height:auto;

  @include media-query(720px) {
    width:$spacing-unit;
  }
}

.site-description {
  display:flex;
  flex-grow:1;
  padding:0 $spacing-unit;
  margin:0;
  align-items:center;

  @include media-query(1100px) { font-size:$base-font-size * 0.90; }
  @include media-query(900px) { font-size:$base-font-size * 0.80; }
  @include media-query(800px) { font-size:$base-font-size * 0.70; }

  @include media-query(720px) {
    order:3;

    //border:1px solid red;
    flex-grow: 0;
    flex-shrink: 1;
    font-size:$base-font-size * 0.70;
    padding:$spacing-unit-small;
  }
}

.site-social-icons {
  display:flex;
  flex-direction:column;
  background-color:$brand-color;
  justify-content:space-around;

  @include media-query(720px) {
    flex-direction:row;
    flex-grow:1;
    justify-content:flex-end;
    align-items:center;
  }

  a {
    padding:0 5px;
    display:block;
    color:white;
  }
}

.btn-back {
  position:relative;
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:$spacing-unit;

  @include media-query(720px) {
    margin-bottom:$spacing-unit-small;
  }

  &:hover .icon-back {
    color:lighten($brand-color, 30%);
  }
}

.icon-back {
  width:$spacing-unit;
  height:$spacing-unit;
  display:flex;
  align-items:center;
  justify-content:center;
  color:$brand-color;
}

.label-back {
  margin:0;
}

.code {
  background:rgba(white, 0.25);
  color:$brand-color;
  font-family: $code-font-family;
  padding:2px 5px;

  .var {
    color:white;
  }
}